

/*
======================================
キャラクター選択画面
======================================
*/
img.panel-img {
    height: 100px;
    width: 100px;
}
.content{
    margin: 5px;
}
.character-area{
    float: left;
}
  input[type=radio] {
    display: none;
 } 
/* .panel-ceo .panelceo1{
    width: 33vw;
    display: block;
    float: left;
    box-sizing: border-box;
}
 */
/* .js-btn-prohibid{
    width: 50vw;
    margin: 0 auto;
    display: block;
    font-size: 6vw;
} */
.js-panel-select .js-panel-select1{
    border: 5px rgba(0,0,0,0) solid;/*キャラクターパネルのデフォルトのCSS*/
}
.js-btn-prohibid{
    background-color: gray;/*非活性のときのボタンのCSS*/
}
.js-btn-permit{
    background-color: red ;/*活性のときのボタンのCSS*/
}